.carousel-image {
  width: 200x; /* El ancho deseado */
  height: 600px; /* La altura deseada */
}

.card-body {
  width: 300px;
  height: 300px;
}
.card-img-top {
  height: 300px;
  width: 300px;
}
.buton {
  background-color: lightblue;
  text-emphasis-color: white;
  text-overflow: ellipsis;
  align-items: center;
  flex-wrap: wrap;
}
